

body { margin: 0; overflow-x: hidden;}

.layout__background {
	position: fixed;
	top: 0;
	height: 100vh;
}



.content {
	position: relative;
	margin-top: 20vh;
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 600px) {
	.content {
		margin-left: 2rem;
		margin-right: .5rem;
	}
}

@media (min-width: 900px) {
	.content {
		margin-left: 4rem;
		margin-right: 1.5rem;
		max-width: 800px;
	}
}

/* ==================== LAYOUT =================== */
	.layout__header {
		display: flex;
		flex-direction: row;
	}

	.layout__header-logo {
		position: relative;
		/*margin-top: 50%;*/
		transform: translateY(20%);
		height: 150px;
		margin: 0px 40px 0 0;
	}

	.layout__header-h5 {
		margin: 5px 0 5px 0;
		font-size: 2rem;
		font-weight: 200;
		color: white;
	}

	.layout__header-h1 {
		margin-top: 0;
		font-size: 2.5rem;
		font-weight: 400;
		color: white;
	}

	@media (min-width: 600px) {
		.layout__header-h1 {
			font-size: 3rem;
		}
	}

	@media (min-width: 900px) {
		.layout__header-h1 {
			font-size: 4rem;
		}
	}








