

body { margin: 0; overflow-x: hidden;}

.layout__background {
	position: fixed;
	top: 0;
	min-height: 100vh;
	min-width: 100vw;
}



.content {
	position: relative;
	margin-top: 20vh;
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 600px) {
	.content {
		margin-left: 2rem;
		margin-right: .5rem;
	}
}

@media (min-width: 900px) {
	.content {
		margin-left: 4rem;
		margin-right: 1.5rem;
		max-width: 800px;
	}
}

/* ==================== HEADER =================== */
	.layout__header {
		display: flex;
		flex-direction: column;
	}

	@media (min-width: 600px) {
		.layout__header {
			flex-direction: row;
		}
	}

	.layout__header-box {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 5px;

		/*border: 1px solid gold;*/
	}

	.layout__header-logo {
		position: relative;
		height: 150px;
	}

	.layout__header-h5 {
		margin: 5px 0 5px 0;
		font-size: 2rem;
		font-weight: 200;
		text-align: center;
		color: white;
	}

	@media (min-width: 600px) {
		.layout__header-h5 {
			text-align: left;
		}
	}

	.layout__header-h1 {
		margin: 0;
		font-size: 2.5rem;
		font-weight: 400;
		text-align: center;
		color: white;
	}

	@media (min-width: 600px) {
		.layout__header-h1 {
			font-size: 3rem;
			text-align: left;
		}
	}

	@media (min-width: 900px) {
		.layout__header-h1 {
			font-size: 4rem;
		}
	}

.layout__sqg {
	margin-left: 50vw;
	transform: translateX(-100%);
	height: 50px; 
}

.layout__large-space {
	width: 10px;
	height: 400px;
}






