

h1, h2 { font-family: 'Bitter', serif; }

h1 {
	font-size: 4rem;
}

p, h5, h6, li, a { 	font-family: 'Muli', Helvetica, Verdana, sans-serif;
 }

p, li, a {
	margin-top: 3rem;
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 200;
}

p {
	color: white;
}

a {
	text-decoration: none;
	color: #332f2b;
}

/*a:hover {
	color: #37423c;
}*/