

h1, h2 { font-family: 'Bitter', serif; }

h1 {
	font-size: 4rem;
}

p, li, h5, h6 { 	font-family: 'Muli', Helvetica, Verdana, sans-serif;
 }

p {
	margin-top: 3rem;
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 200;
	color: white;
}